<div class="grid-100 row controls">
  <div class="grid-30">
    <select ng-options="category as category.name for category in recipeCategories" ng-model="selected">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row" ng-hide="filteredRecipes.length > 0">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<div class="grid-100 row addHover" ng-repeat="recipe in recipes | filter:{category: selected.name} as filteredRecipes">
  <a ng-click="goToRecipeDetail(recipe._id)">
    <div class="grid-70">
      <p>
        <h1 class="recipe-hover-state">{{recipe.name}}</h1>
      </p>
      <p class="recipe-hover-state">{{recipe.description}}</p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a ng-click="goToRecipeDetail(recipe._id)" class="edit-hover-state"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a class="no-action-link" ng-click="deleteRecipe(recipe._id)"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>